body {
    margin: 0px;
}
/*header*/

.header {
    display: flex;
    background-color: #1f2937;
}

.left-links {
    display: flex;
    margin-right:auto ;
    align-items: center;
    padding: 16px;
    padding-left: 170px;
    font-size: 24px;
    color: #f9faf8;
}
.right-links{
    margin-right: 120px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    text-decoration: none;
}

li {
    gap:16px;
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}
/* prasideda main page*/
.Information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*part1*/

.part1 {
    display: flex;
    background-color: #1f2937;
    padding: 30px;
    justify-content: space-around;
}

.text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.text1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text2 {
    color: #e5e7eb;
    font-size: 18px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    width: auto;
    height: auto;
    border-radius: 15px;}

img {
    width: 200px;
    height: 200px;
    border-radius: 15px;}

.duomenys {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input[type="text"] {
    width: 250px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}


.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
    color: #e5e7eb;
    margin-top: 50px;}